<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7681deea45.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="">
        <a class="" href="#">
            <i class="fa-brands fa-linkedin fa-2xl" style="color:white;"></i>
            <div class="logoTitle">Linkedin</div>
        </a>
    </nav>
    <div class="background">
        <div class="bubble-one"></div>
        <div class="bubble-two"></div>
        <div class="shadow"></div>
        <img src="/job-interview-handshake.jpg" alt="">
    </div>
     
    <div class="container">
        <div class="slogoan">
            <div class="first">Empoyer your Future.</div>
            <div class="second">Your <span>Next chapter </span></div>
            <div class="third">Starts with US !</div>
            <div class="buttons">
                    <a href="login">Login Now</a>
                    <a href="signup">Join Us</a>
            </div>
        </div>    
    </div>
      
    
    
    
    
</body>
</html>