<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7681deea45.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/profil.css">
</head>
<body>
    <div class="info">
        <div class="background-photo"></div>
        <div class="profile-photo"></div>
        <div class="details">
            <div class="left">
                <div class="name">Bahe Eddine Brahim</div>
                <div class="profession">Software Engineer Student</div>
            </div>
            <div class="right">
                <div class="school">Faulté de Science de Bizerte</div>
                <div class="business">Student</div>
            </div>
        </div>
    </div>
    <div class="education">
        <div class="title">
            <p>Education</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        
        <div class="degree">
            <div class="university">Faculté de science de bizerte</div>
            <div class="domain">Computer Science</div>
            <div class="year">2022</div>
        </div>
    </div>
    <div class="certif">
        <div class="title">
            <p>Certifications</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="certif-instance">
            <div class="certif-name">Azure Fundamentals</div>
            <div class="year">2022</div>
        </div>
    </div>
    
</body>
</html>