<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7681deea45.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/signUp.css">
</head>
<body>
    <nav class="">
        <a class="" href="/">
            <i class="fa-brands fa-linkedin fa-2xl" style="color:white;"></i>
            <div class="logoTitle">Linkedin</div>
        </a>
    </nav>
    <div class="container">
        <a class="" href="/">
            <i class="fa-brands fa-linkedin fa-2xl second" ></i>
            <div class="logoTitle1">Linkedin</div>
        </a>
        <% if (typeof error !== 'undefined') { %>
            <div class="error"><%= error %></div>
        <% } %>
        <div class="signIn">
            <div class="text">Create New Account</div>
            <form action="/login" method="post">
                <input type="text" name="username" id="" class="in1" placeholder="username" required><br>
                <input type="text" name="password" id="" class="in2" placeholder="password"><br>
                <input type="text" name="email" id="" class="in3" placeholder="email"><br>
                <input type="text" name="univ" id="" class="in4" placeholder="université"><br>
                <input type="text" name="profession" id="" class="in5" placeholder="profession"><br>
                <button type="submit">Sign Up</button>
            </form>
            
        </div>
    </div>
</body>
</html>